<!DOCTYPE html>
<html lang="en">
@* data-bs-theme="dark"> *@

<style>
    .list-group-item-action:hover {
        background-color: #1111;
        color: #111111;
    }
</style>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap_flatly.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/_1.styles.css" asp-append-version="true" /> *@
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">IC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Search Bar -->
                <form action="@Url.Action("SearchPost", "Posts")" class="d-flex">
                    <input class="form-control me-sm-2" name="searchString" type="search" placeholder="Введіть букви">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Пошук</button>
                </form>

                <!-- Right-aligned items -->
                <div class="ml-auto d-flex align-items-center">
                    <!-- User authentication buttons -->
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p class="m-0">@User.Identity.Name</p>
                        <form class="m-0" method="post" asp-controller="Account" asp-action="Logout">
                            <button type="submit" class="btn btn-outline-secondary">Вихід</button>
                        </form>
                    }
                    else
                    {
                        <form class="m-0" method="post" asp-controller="Account" asp-action="Login">
                            <button type="submit" class="btn btn-outline-secondary">Вхід</button>
                        </form>
                        <form class="m-0" method="post" asp-controller="Account" asp-action="Register">
                            <button type="submit" class="btn btn-outline-secondary">Реєстація</button>
                        </form>
                    }
                </div>
            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
