@model IEnumerable<InkCanvas.Models.Comment>
@inject Microsoft.AspNetCore.Identity.UserManager<InkCanvas.Models.User> UserManager

<h4>Коментарі</h4>
@if (Model.Any())
{
    <hr />
    <table class="table">
        <tbody>
            @foreach (var item in Model)
            {
                var user = await UserManager.FindByIdAsync(item.UserId);
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@user.Login</h5>
                    <p class="mb-1">@item.Date</p>
                </div>
                <p class="mb-1">@item.Caption</p>
                <hr />
            }
        </tbody>
    </table>

    @if (!User.Identity.IsAuthenticated)
    {
        <p> Ввійдіть, щоб написати коментар</p>
    }
}
else 
@if (User.Identity.IsAuthenticated)
{
    <p>Напишіть перший коментар.</p>
}
else
{
    <p> Ввійдіть, щоб написати коментар.</p>
}
