@model IEnumerable<InkCanvas.Models.User>

<h2>User list</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">
                    Access rights
                </a>
            </td>
        </tr>
    }
</table>

<form action="javascript:history.back()" class="m-0">
    <button type="submit" class="btn btn-secondary">Back</button>
</form>