@{
    ViewData["Title"] = "NoResultsFound";
}
<style>
    .text-center {
        font-size: 5em;
        display: block;
        text-align: center;
    }

    .smiley {
        margin-right: 250px;
    }
</style>

    <div class="text-center">
        <h3>@ViewBag.Message</h3>
    <div/>

