@model InkCanvas.Models.Post;
@inject Microsoft.AspNetCore.Identity.UserManager<InkCanvas.Models.User> UserManager

@{
    ViewData["Title"] = $"{Model.Caption}";
}

<h2>@Html.DisplayFor(model => model.Caption)</h2>
<h4>@Html.DisplayFor(model => model.Description)</h4>

<dd class="col-sm-10">
    @{
        var user = await UserManager.FindByIdAsync(Model.UserId);
        if (user != null)
        {
            <span>@user.Login</span>
        }
        else
        {
            <span>User not found</span>
        }
    } 
</dd>

<div>
    @Html.Partial("CommentsList", Model.Comments)
</div>

<form action="javascript:history.back()" class="m-0">
    <button type="submit" class="btn btn-secondary">Назад</button>
</form>

