@using Microsoft.AspNetCore.Identity
@inject Microsoft.AspNetCore.Identity.UserManager<InkCanvas.Models.User> UserManager

@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="list-group">
        @foreach (var item in Model)
        {
            var user = await UserManager.FindByIdAsync(item.UserId);

            <a href="@Url.Action("Details", "Posts", new { id = item.PostId })" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@item.Caption</h5>
                    <h4 class="mb-1">@user.UserName</h4>
                </div>
                @* <p class="mb-1">@item.Description</p> *@
            </a>
        }
    </div>
</div>
