@{
    ViewData["Title"] = "Домашня сторінка";
}

<div class="text-center">
    <h2>Вітаємо!</h2>
    <p style="font-size: 20px;">Сторінка в процесі розробки, спробуйте завітати пізніше :(</p>
</div>
