@model IEnumerable<ImagiArtDomain.Model.Post>

@{
    ViewData["Title"] = "Головна";
}

<div class="container">
    <div class="list-group">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("Details", "Posts", new { id = item.Id })" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@item.Caption</h5>
                </div>
                <p class="mb-1">@item.Description</p>
                <!-- відображення фото -->
                <img src="@item.ImageUrl" alt="Фото" class="img-thumbnail" style="max-width: 200px; max-height: 200px;">
            </a>
        }
    </div>
</div>
