@model ImagiArtDomain.Model.UserFollower

@{
    ViewData["Title"] = "Details";
}

<h1>Інформацію про підписку</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FollowerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FollowerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">Назад</a>
</div>
