<div class="container">
    <div id="chart1"></div> <!-- Age distribution chart -->
    <div id="chart2"></div> <!-- Like distribution chart -->
</div>

@{
    ViewData["Title"] = "Charts";
}

@section Scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawCharts);

        function drawCharts() {
            var userData = @Html.Raw(Json.Serialize(ViewBag.UserChartData));
            var userDataTable = google.visualization.arrayToDataTable(userData);
            var userOptions = {
                title: 'User age distribution',
                pieHole: 0.2,
            };
            var userChart = new google.visualization.PieChart(document.getElementById('chart1'));
            if (userData.length > 1) {
                userChart.draw(userDataTable, userOptions);
            } else {
                document.getElementById('chart1').innerHTML = "<p>No info available</p>";
            }

            var likeData = @Html.Raw(Json.Serialize(ViewBag.LikeChartData));
            var likeDataTable = google.visualization.arrayToDataTable(likeData);
            var likeOptions = {
                title: 'Like distribution between 10 most liked posts',
                legend: { position: 'none' }
            };
            var likeChart = new google.visualization.ColumnChart(document.getElementById('chart2'));
            if (likeData.length > 1) {
                likeChart.draw(likeDataTable, likeOptions);
            } else {
                document.getElementById('chart2').innerHTML = "<p>No info available</p>";
            }
        }
    </script>
}

<form action="javascript:history.back()" class="m-0">
    <button type="submit" class="btn btn-secondary">Back</button>
</form>