@model InkCanvas.ViewModel.RegisterViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Вітаємо в InkCanvas!</title>
    <style>
        .fixed-width-form {
            width: 400px;
            margin: 0 auto;
        }

        .welcome-message {
            text-align: center;
        }
    </style>
</head>
<body>
    <h2 class="welcome-message">Вітаємо в InkCanvas!</h2>

    <form method="post" asp-controller="Account" asp-action="Register" class="fixed-width-form">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="Login" placeholder="Steve627" asp-for="Login">
            <label for="Login">Ім'я користувача</label>
            <span asp-validation-for="Login"></span>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="Email" placeholder="name@example.com" asp-for="Email">
            <label for="Email">Електронна адреса</label>
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-floating">
            <input type="number" class="form-control" id="Age" placeholder="Скільки Вам років?" asp-for="Age">
            <label for="Age">Вік</label>
            <span asp-validation-for="Age"></span>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="Password" placeholder="Придумайте пароль" autocomplete="off" asp-for="Password">
            <label for="Password">Пароль</label>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="PasswordConfirm" placeholder="Підтвердіть пароль" autocomplete="off" asp-for="PasswordConfirm">
            <label for="PasswordConfirm">Підтвердити пароль</label>
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div>
            <input type="submit" value="Реєстрація" class="btn btn-primary" />
            <button id="switchToLogin" class="btn btn-secondary">Не вперше тут? Увійти</button>
        </div>
    </form>

    <script>
        document.getElementById('switchToLogin').addEventListener('click', function () {
            window.location.href = '~/Views/Account/Login';
        });
    </script>

</body>
</html>
