<a href="@Url.Action("ExportAll", "Services")" class="btn btn-primary">Експорт публікацій</a>

<form action="javascript:history.back()" class="m-0">
    <button type="submit" class="btn btn-secondary">Назад</button>
</form>