<a href="@Url.Action("ExportAll", "Services")" class="btn btn-primary">Export posts</a>

<legend>Export every single post in Excel spreadsheet format.</legend>
<form action="javascript:history.back()" class="m-0">
    <button type="submit" class="btn btn-secondary">Back</button>
</form>