<a href="@Url.Action("Export", "Services")" class="btn btn-primary">Експорт юзерів</a>
<form method="post" enctype="multipart/form-data" action="@Url.Action("Import", "Services")">
    <div class="form-group">
        <label for="file">Select Excel File:</label>
        <input type="file" class="form-control-file" id="file" name="file">
    </div>
    <button type="submit" class="btn btn-primary">Import Users</button>
</form>


@* <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Основна</a>
 *@
<form action="javascript:history.back()" class="m-0">
    <button type="submit" class="btn btn-secondary">Назад</button>
</form>